# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.env
lib/env/*
/build/
pubspec.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

node_modules/

*.gql.*
*.g.dart
# assets/icons/discount_banner.png
assets/item_images/Bath__Body.jpg
assets/item_images/Beauty__Makeup.jpg
assets/item_images/Breakfast_Food_.jpg
assets/item_images/ChocolatesDesserts.jpg
assets/item_images/Cleaning__Household.jpg
assets/item_images/Drinks__Juices.jpg
assets/item_images/Health__Nutrition.jpg
assets/item_images/Hygiene__Personal_care.jpg
assets/item_images/Oil__Masala.jpg
assets/item_images/Pet_Supplies.jpg
assets/item_images/Rice-Atta--Dal_1.jpg
assets/item_images/Snacks__Biscuits.jpg
assets/item_images/Tea__Coffee.jpg
